* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 50px 60px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(250, 250, 250, 0.2);  /*tak keluar*/
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #103783;
    
}

.left li {
    float: left;
} 

.right li {
    float: right;
}

li a {
    color: white;
    display: block;
    padding: 15px 13px;
    text-decoration: none;

}


li a:hover {
    color: black;
    text-decoration: none;
    background-color: #9bafd9;
   
}

 a:active {
    color: black;
    text-decoration: none;
}

.header {
    color: white;
    width: 100%;
    text-align: center;
    padding: 128px 16px;
    background: hsla(221, 45%, 73%, 1);
    background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BAFD9", endColorstr="#103783", GradientType=1 );
}

.header h1, p {
    margin: 10px 0 20px 0;
}

.button {
    background-color: gold;
    border: none;
    color: black;
    padding: 15px 50px;;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: #f7f779;
}

.row {
    display: flex;
    flex-wrap: wrap;  /*Fit one line and added if mutiple line*/
}

#project {
    margin-top: 5px;
    text-align: center;
    padding: 10px;
}
.footer {
    background-color: #103783;
    color: white;
    padding: 40px;
    height: 400px;
}

.footer .footer-content {
    display: flex;
    /*border: 1px red solid;*/
    height: 350px;
    padding: 20px;
}


.footer-section  {
    flex: 1;
    /*border: 1px red solid;*/
    padding: 15px;
    text-decoration: none;
}

.footer-author {
    /*border: 1px red solid;*/
    background-color: #103783;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.card {
    margin: 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    justify-content: center;
    position: fixed;
   
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile {
    padding: 2px 16px ;
}

.container-flex {
    background-color: #9bafd9;
    color: white;
    display: flex;
} 

.container-flex div {
    /*border: 2px red solid;*/
    padding: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.flex-1 {
    flex: 60%;
    margin-left: 120px;
    text-align: justify;
}

.flex-2 {
    flex: 40%;
    text-align: center;
    color: coral;
}

/*responsive*/
@media only screen and (max-width: 480px) {
    .ul, .row, .container-flex {
        flex-direction: column;
    }
}

